<ng-container *ngIf="contentItem">
    <img *ngIf="contentItem && contentItem.imageLink; else elseImageLinkBlock" [src]="contentItem.imageLink" />
    <ng-template #elseImageLinkBlock>
        <img class="not-found" [src]="'https://upload.wikimedia.org/wikipedia/commons/5/53/Rockstar_Games_Logo.svg'" />
    </ng-template>
    <h1 class="title" *ngIf="contentItem && contentItem.title" appHighlightImportantData [color]="'purple'"
        highLightCss='title'>
        {{contentItem.title}}
    </h1>

    <p class="body" *ngIf="contentItem && contentItem.body;">
        {{contentItem.body}}</p>

    <h2 class='author' *ngIf="contentItem && contentItem.author" appHighlightImportantData highLightCss='author'>Author:
        {{contentItem?.author | titlecase}}</h2>



    <h2 class="type" *ngIf="contentItem && contentItem.type" appHighlightImportantData highLightCss='type'>Type:
        {{contentItem.type}}</h2>

    <div class="hashtags" *ngIf="contentItem && contentItem.hashtags">
        <span *ngFor="let hashtag of contentItem.hashtags" appHighlightImportantData highLightCss='tag'>
            #{{ hashtag }}
        </span>
    </div>


</ng-container>

<a href="/list" class="btn">Go to Home Page</a>
<ng-container *ngIf="contentItem">
    <a class="previousContent" *ngIf="contentItem.id > 0" [routerLink]="['/details', previousId]">Previous Content</a>
</ng-container>