<!-- <p>content-list works for Bhoomit Patel!</p> -->

<!-- 
<div>
  <app-content-card *ngFor="let item of chessPlayers; index as i; first as isFirst" [contentItem]="item"
    class="chess-player-{{i}}" [class.is-first]="isFirst">
  </app-content-card>
</div> -->

<div class="search">
  <input #authorValue placeholder="Please enter the author value" (click)="clearInput()" /><br />
  <button (click)="checkAuthor(authorValue.value)">Click me to find Author</button>
</div>
<div class="displayResult">

</div>




<!-- Content only for Sports Type -->
<h2>Sports type Cards:</h2>

<div class="card" *ngFor="let item of ContentListItem | typeFilter: 'Sports' ; index as i last as isLast;">
  <app-content-card [contentItem]="item" class="sportsCard" [class.is-last]="isLast">
  </app-content-card>
</div>

<!-- Content only for Racing Type -->
<h2>Racing type Cards:</h2>

<div class="card" *ngFor="let item of ContentListItem | typeFilter: 'Racing'; index as i; last as isLast; ">
  <app-content-card [contentItem]="item" class="racingCard" [class.is-last]="isLast">

  </app-content-card>
</div>

<!-- Content only for Racing Type -->
<h2>Platformer type Cards:</h2>

<div class="card" *ngFor="let item of ContentListItem | typeFilter: 'Platformer'; index as i; last as isLast;">
  <app-content-card [contentItem]="item" class="platformerCard" [class.is-last]="isLast">
  </app-content-card>
</div>


<!-- Content only for Racing Type -->
<h2>Third-Person Shooter type Cards:</h2>

<div class="card"
  *ngFor="let item of ContentListItem | typeFilter: 'Third-person shooter'; index as i; last as isLast;">
  <app-content-card [contentItem]="item" class="thirdShooterCard" [class.is-last]="isLast">
  </app-content-card>
</div>

<!-- Content only for No Type Set -->

<h2>Not selected type Cards:</h2>

<div class="card" *ngFor="let item of ContentListItem | typeFilter; index as i; last as isLast;">
  <app-content-card [contentItem]="item" class="unknownTypeCard" [class.is-last]="isLast">
  </app-content-card>
</div>

<!-- New Content with new type = none -->

<!-- <h2>New data</h2>
<div class="card" *ngFor="let item of ContentListItem; index as i; last as isLast;">
  <app-content-card [contentItem]="item" class="temp" [class.is-last]="isLast">
  </app-content-card>
</div> -->