<div class="search">
    <input #authorValue type="number" placeholder="Please enter ID for Content" /><br />
    <button (click)="checkID(authorValue.value)">Click me to find Content</button>
</div>


<ng-container *ngIf="contentItem?.id !== -1 else elseBlock">

    <h1>Searched Content Card:</h1>
    <app-content-card [contentItem]="contentItem" class="single-item-on-app-component"></app-content-card>
</ng-container>
<ng-template #elseBlock>
    <div>
        <h2 class="error">Content not found</h2>

        <img class="errorImg"
            src="https://media2.giphy.com/media/UoeaPqYrimha6rdTFV/giphy.gif?cid=ecf05e474qhz49vqk3p1ygmhuxyo4qn9h2sa8dhqwyijhwne&rid=giphy.gif&ct=g">
    </div>

</ng-template>
<!-- <div *ngFor="let item of newContent; index as i; last as isLast;">
    <app-content-card [contentItem]="item" class="newSample">
        <img *ngIf="contentItem?.author; else elseImageLinkBlock" [src]="contentItem?.imageLink" />
        <ng-template #elseImageLinkBlock>
            <img class="not-found"
                [src]="'https://upload.wikimedia.org/wikipedia/commons/5/53/Rockstar_Games_Logo.svg'" />
        </ng-template>
        <h1 class="title" *ngIf="contentItem" appHighlightImportantData [color]="'purple'" highLightCss='title'>
            {{item?.author}}
        </h1>

        <p class="body" *ngIf="contentItem && contentItem.body;">
            {{contentItem.body}}</p>

        <h2 class='author' *ngIf="contentItem && contentItem.author" appHighlightImportantData highLightCss='author'>
            Author:
            {{contentItem?.author | titlecase}}</h2>



        <h2 class="type" *ngIf="contentItem && contentItem.type" appHighlightImportantData highLightCss='type'>Type:
            {{contentItem.type}}</h2>

        <div class="hashtags" *ngIf="contentItem && contentItem.hashtags">
            <span *ngFor="let hashtag of contentItem.hashtags" appHighlightImportantData highLightCss='tag'>
                #{{ hashtag }}
            </span>
        </div>
    </app-content-card>

</div> -->