:host {



    .newSample {
        display: block;
        width: 780px;
        margin: 50px auto;
        box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
        padding: 10px;
        border-radius: 30px;
    }

}

// //     }
// // }



// img {
//     width: 770px;
//     display: block;
//     margin: 0 auto;
//     cursor: pointer;
// }

// h1 {
//     text-align: center;
// }

// p.hashtags {
//     color: blue;
// }


h1 {
    text-align: center;
    background-color: rgb(14, 156, 244);
    padding: 5px;
    border-radius: 5px;
    font-size: 2em;
}