<div class="topnav">
    <div class="row">
        <a class="col-3" routerLinkActive="active" routerLink="/list">
            <mat-icon>home</mat-icon>
        </a>
        <!-- <a class="col-3" routerLink="/search" routerLinkActive="active">Search</a> -->
        <a class="col-3" routerLink="/addContent" routerLinkActive="active">
            <mat-icon>add</mat-icon>
        </a>
        <a class="col-3" routerLink="/updateContent" routerLinkActive="active">
            <mat-icon>update</mat-icon>
        </a>
        <a class="col-3" routerLink="/checkData" routerLinkActive="active">
            <mat-icon>view_list</mat-icon>
        </a>

    </div>


</div>