<div class="form">
    <h1>Add Content</h1>
    <!-- <label>
        ID (for updating):
        <input type="number" [(ngModel)]="contentItem.id">
    </label> -->
    <label>
        Title:
        <input [(ngModel)]="contentItem.title">
    </label>
    <label>
        Type:
        <input [(ngModel)]="contentItem.type">
    </label>
    <label>
        Author:
        <input [(ngModel)]="contentItem.author">
    </label>
    <label>
        Image URL:
        <input [(ngModel)]="contentItem.imageLink">
    </label>
    <label>
        Body:
        <textarea [(ngModel)]="contentItem.body"></textarea>
    </label>
    <label>
        Tags:
        <input [(ngModel)]="tempTags">
    </label>

    <button (click)="+(contentItem.id || 'falsy') ? updateContentOnServer(): addContentToServer() ">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Add Content
    </button>

</div>