.idBlock {
    display: block;
    background-color: #6cc16d;
    margin: 0 auto;
    padding: 0px 90px;
    color: white;




}

h1 {
    text-align: center;
    color: black;
    margin-top: 10px;
    padding: 10px 0px;
    background-color: rgb(246, 129, 129);
}

div.form {
    display: block;
    // background-color: #6cc16d;
    margin: 0 auto;
    padding: 0px 90px;
    // color: white;
}

mat-form-field {
    display: block;
}