<div class="idBlock" *ngIf="idFromForm == -1; else elseBlockForm">
    <h1>Please enter the ID if you want to update the Data</h1>

    <mat-form-field color="primary" appearance="fill">
        <mat-label>ID for update Content:</mat-label>
        <input type="number" matInput [(ngModel)]="contentItem.id">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="ifFromFormFunc()">

        Update Content
    </button>
</div>
<ng-template #elseBlockForm>
    <div class="form">

        <h1 *ngIf="+(contentItem.id || contentItem.id == 0 || 'falsy'); else elseBlockForH1">Update the content at ID:
            {{contentItem.id}}</h1>
        <ng-template #elseBlockForH1>
            <h1>Add New Content</h1>
        </ng-template>
        <!-- <label>
        ID (for updating):
        <input type="number" [(ngModel)]="contentItem.id">
    </label> -->
        <form (ngSubmit)="onClick(value)" #value="ngForm">
            <mat-form-field color="primary" appearance="fill">
                <mat-label>Title:</mat-label>
                <input matInput [(ngModel)]="contentItem.title">
            </mat-form-field>
            <mat-form-field color="primary" appearance="fill">
                <mat-label>Type:</mat-label>
                <input matInput [(ngModel)]="contentItem.type">
            </mat-form-field>

            <mat-form-field color="primary" appearance="fill">
                <mat-label>Author:</mat-label>
                <input matInput [(ngModel)]="contentItem.author">
            </mat-form-field>
            <mat-form-field color="primary" appearance="fill">
                <mat-label>Image URL:</mat-label>
                <input matInput [(ngModel)]="contentItem.imageLink">
            </mat-form-field>
            <mat-form-field color="primary" appearance="fill">
                <mat-label>Body:</mat-label>
                <input matInput [(ngModel)]="contentItem.body">
            </mat-form-field>
            <mat-form-field color="primary" appearance="fill">
                <mat-label>Tags:</mat-label>
                <input matInput [(ngModel)]="tempTags" name="hashtags">
            </mat-form-field>


            <button mat-raised-button color="primary"
                *ngIf="+(contentItem.id || contentItem.id == 0 || 'falsy'); else elseBlockForButton"
                (click)="+(contentItem.id || contentItem.id == 0 || 'falsy') ? updateContentOnServer(): addContentToServer() ">
                Update Content
            </button>
            <ng-template #elseBlockForButton>
                <button mat-raised-button color="primary" (click)="+(contentItem.id || contentItem.id == 0 || 'falsy') ? updateContentOnServer(): addContentToServer()
            ">
                    Add Content</button>
            </ng-template>
        </form>
    </div>
</ng-template>