:host {
    display: block;
    width: 780px;
    border: 5px double blueviolet;
    margin: 10px auto;
    padding: 10px;
    border-radius: 30px;



}


img {
    width: 770px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

h1 {
    text-align: center;
}

.hashtags {
    color: black;
    font-size: 1.2em;
    font-weight: bold;
    border: 1px solid seagreen;
    display: flex;
    justify-content: space-evenly;
    background-color: chocolate;
    padding: 5px;
    margin: 15px 5px;
    flex-direction: row;
    border-radius: 5px;
}


.type {
    // border: 1px solid black;
    display: inline-block;
    padding: 5px;
    color: aliceblue;
    margin: 0px 0px 15px 0px;
    // background-color: rgb(29, 88, 136);
    // animation: blink 5s infinite;
}

.type.borderType {
    border: 5px double red;
}

.type,
.title,
.hashtags {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    span.fontColor {
        color: springgreen;
    }
}

@keyframes blink {
    0% {
        color: red;
    }

    20% {
        color: green;
    }

    40% {
        color: yellow;
    }

    60% {
        color: blue;
    }

    80% {
        color: orange;
    }

    100% {
        color: white;
    }
}



:host.is-last .author.fontColor {
    color: springgreen;
}

:host.is-last .author.borderType {
    border: 5px solid red;
}

:host.is-last .author.backgroundColor {
    background-color: purple;
}