:host {
    display: block;
    width: 780px;
    border: 5px double blueviolet;
    margin: 10px auto;
    padding: 10px;
    border-radius: 30px;

    &.even {
        background-color: lightgrey;
    }

    &.odd {
        background-color: white;
    }

}

:host[class=""] {
    background-color: green;
}


img {
    width: 770px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

h1 {
    text-align: center;
}

.hashtags {
    color: blue;
    border: 1px solid seagreen;
    display: flex;
    justify-content: space-evenly;
    background-color: antiquewhite;
    padding: 5px;
    margin: 5px;
    flex-direction: row;
}