<div>
    <mat-card *ngIf="contentItem">
        <mat-card-header>
            <mat-card-actions class="title" *ngIf="contentItem && contentItem.title" appHighlightImportantData
                [color]="'purple'" highLightCss='title' mat-card-title>
                <button mat-raised-button color="accent" class="details-button"
                    [routerLink]="['/details', contentItem.id]" routerLinkActive="active">
                    {{contentItem.title}}
                </button>

            </mat-card-actions>


        </mat-card-header>


        <img mat-card-image style="width: 770px" (click)="clickedImage()"
            *ngIf="contentItem && contentItem.imageLink; else elseImageLinkBlock" [src]="contentItem.imageLink" />
        <ng-template #elseImageLinkBlock>
            <img class="not-found" (click)="clickedImage()" mat-card-image style="width: 770px"
                [src]="'https://upload.wikimedia.org/wikipedia/commons/5/53/Rockstar_Games_Logo.svg'" />
        </ng-template>


        <mat-card-subtitle class="type" *ngIf="contentItem && contentItem.type" appHighlightImportantData
            highLightCss='type' mat-card-subtitle>Type:
            {{contentItem.type}}</mat-card-subtitle>

        <mat-card-footer class="hashtags" *ngIf="contentItem && contentItem.hashtags">
            <span *ngFor="let hashtag of contentItem.hashtags" appHighlightImportantData highLightCss='tag'>
                #{{ hashtag }}
            </span>
        </mat-card-footer>




    </mat-card>
</div>